@using Microsoft.AspNetCore.Identity
@using TvPlus.Core.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a href="/Management/Dashboard" class="header__sign-in">
        <span class="login-txt"> @UserManager.GetUserName(User)</span>
    </a>
}
else
{
    <a href="/identity/Account/Login" class="header__sign-in">
        <span class="login-txt"> ورود</span>
    </a>

}