@{
    ViewData["Title"] = "خانه";
}


<section id="slideerjs">
    @await Component.InvokeAsync("Slider")
</section>


<section class="home">
    @await Component.InvokeAsync("SpecialPost")
</section>

<section>
    @await Component.InvokeAsync("TrendTv")
</section>

<section class="content content-style" dir="rtl">
    @await Component.InvokeAsync("PostCategory")
</section>

<section class="content-section2" style="position: relative">
    @await Component.InvokeAsync("TopTen")
</section>

<section class="content-section content-style">


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 align-self-center res-section1 text-right">
                <div class="text-right">
                    <img class="logo-title-img" src="/Client/img/logo2.png" />
                    <p class="res-title2">کانون تبلیغاتی</p>
                    <p class="res-txt2">
                        شما می توانید با هر دستگاهی اعم از : تبلت ، گوشی ، و دسکتاپ فیلم و ویدئو های پایان
                        ناپذیر تی
                        وی
                        پلاس را مشاهده کنید و لحظات خود را با ما تبدیل به خاطره کنید
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 res-section2">
                <img src="/Client/img/res.png" class="our-story-card-img" />
                <div class="our-story-card-animation">
                    <video class="our-story-card-video" autoPlay="" playsInline="" muted="" loop="">
                        <source src="https://www.spad.co/df.m4v" type="video/mp4" />
                    </video>
                    <div class="our-story-card-animation-text"></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title"> آخرین خبر</h2>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/9.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/7.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/10.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/7.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/8.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/10.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="#" class="section__btn"> بیشتر</a>
            </div>
        </div>
    </div>
</section>