@{
    ViewData["Title"] = "خانه";
}


<section id="slideerjs">
    @await Component.InvokeAsync("Slider")
</section>


<section class="home">
    @await Component.InvokeAsync("SpecialPost")
</section>

<section>
    <div class="df-style">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="home__title home-title">
                        <b>
                            Trend TV
                        </b>
                    </h1>


                </div>
            </div>
            <div class="row">
                <div class="col-12 slow-carouseldiv">
                    <div class="owl-carousel home__carousel slow-carousel">
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/1.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/2.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/3.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/4.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/1.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/2.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/3.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/4.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/1.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/2.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/3.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/4.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/1.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/2.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/3.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/4.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12  slow-carouseldiv">
                    <div class="owl-carousel home__carousel slow-carousel2">
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/5.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/6.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/8.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/5.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/6.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/7.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/5.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/6.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/7.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/5.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/6.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/8.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/5.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/6.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <div class="item">

                            <div class="card card--big">
                                <div class="card__cover">
                                    <img src="/Client/img/gallery/7.jpg" alt="" />
                                    <a href="blog.html" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content content-style">
    <div class="content__head">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h2 class="content__title"> به تی وی پلاس خوش آمدید</h2>

                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab"
                               aria-controls="tab-1" aria-selected="true"> آخرین ویدیو ها</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab"
                               aria-controls="tab-2"
                               aria-selected="false">داغترین ها</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab"
                               aria-controls="tab-3"
                               aria-selected="false">جنجالی ترین ها </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab"
                               aria-controls="tab-4"
                               aria-selected="false">پربازدیدترین ها</a>
                        </li>


                    </ul>

                    <div class="content__mobile-tabs" id="content__mobile-tabs">
                        <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation"
                             id="mobile-tabs"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span></span>
                            <input type="button" value=" ایتم ها" />
                        </div>

                        <div class="content__mobile-tabs-menu dropdown-menu"
                             aria-labelledby="mobile-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="1-tab"
                                       data-toggle="tab"
                                       href="#tab-1" role="tab" aria-controls="tab-1"
                                       aria-selected="true">
                                        آخرین
                                        ودیو ها
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="2-tab"
                                       data-toggle="tab" href="#tab-2"
                                       role="tab" aria-controls="tab-2"
                                       aria-selected="false">داغترین ها</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="3-tab"
                                       data-toggle="tab" href="#tab-3"
                                       role="tab" aria-controls="tab-3"
                                       aria-selected="false">سینما </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="4-tab"
                                       data-toggle="tab" href="#tab-4"
                                       role="tab" aria-controls="tab-4"
                                       aria-selected="false">تلویزیون</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="/Client/img/covers/9.jpg" alt="" />
                                        <a href="blog.html" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="#">
                                                لحظه تلخ ترکیدن بغض حامد
                                                زمانی حین کتک
                                                خوردنش از پلیس
                                            </a>
                                        </h3>
                                        <span class="card__category">
                                            <a href="#">نیما اسلامی</a>
                                            <a href="#">22 /اسفند/99</a>
                                        </span>

                                        <div class="card__wrap">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-eye"></i>20
                                                بازدید
                                            </span>

                                            <ul class="card__list">
                                                <li>سینما</li>
                                                <li>تلوزیون</li>
                                            </ul>
                                        </div>

                                        <div class="card__description">
                                            <p>
                                                رونمایی محمدرضا گلزار از گرانقیمت ترین اتومبیل شخصی اش در
                                                ایران/اظهارنظر آقای سوپراستار درباره مهناز افشار، کری خوانی
                                                هایش با
                                                علی کریمی و کامنت جنجال برانگیز پریس هیلتون - اختصاصی تی وی
                                                پلاس
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="/Client/img/covers/10.jpg" alt="" />
                                        <a href="blog.html" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="#">
                                                لحظه تلخ ترکیدن بغض حامد
                                                زمانی حین کتک
                                                خوردنش از پلیس
                                            </a>
                                        </h3>
                                        <span class="card__category">
                                            <a href="#">نیما اسلامی</a>
                                            <a href="#">22 /اسفند/99</a>
                                        </span>

                                        <div class="card__wrap">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-eye"></i>30
                                                بازدید
                                            </span>

                                            <ul class="card__list">
                                                <li>سینما</li>
                                                <li>تلوزیون</li>
                                            </ul>
                                        </div>

                                        <div class="card__description">
                                            <p>
                                                رونمایی محمدرضا گلزار از گرانقیمت ترین اتومبیل شخصی اش در
                                                ایران/اظهارنظر آقای سوپراستار درباره مهناز افشار، کری خوانی
                                                هایش با
                                                علی کریمی و کامنت جنجال برانگیز پریس هیلتون - اختصاصی تی وی
                                                پلاس
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="/Client/img/covers/7.jpg" alt="" />
                                        <a href="blog.html" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="#">
                                                لحظه تلخ ترکیدن بغض حامد
                                                زمانی حین کتک
                                                خوردنش از پلیس
                                            </a>
                                        </h3>
                                        <span class="card__category">
                                            <a href="#">نیما اسلامی</a>
                                            <a href="#">22 /اسفند/99</a>
                                        </span>

                                        <div class="card__wrap">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-eye"></i>30
                                                بازدید
                                            </span>

                                            <ul class="card__list">
                                                <li>سینما</li>
                                                <li>تلوزیون</li>
                                            </ul>
                                        </div>

                                        <div class="card__description">
                                            <p>
                                                رونمایی محمدرضا گلزار از گرانقیمت ترین اتومبیل شخصی اش در
                                                ایران/اظهارنظر آقای سوپراستار درباره مهناز افشار، کری خوانی
                                                هایش با
                                                علی کریمی و کامنت جنجال برانگیز پریس هیلتون - اختصاصی تی وی
                                                پلاس
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="/Client/img/covers/8.jpg" alt="" />
                                        <a href="blog.html" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="#">
                                                لحظه تلخ ترکیدن بغض حامد
                                                زمانی حین کتک
                                                خوردنش از پلیس
                                            </a>
                                        </h3>
                                        <span class="card__category">
                                            <a href="#">نیما اسلامی</a>
                                            <a href="#">22 /اسفند/99</a>
                                        </span>

                                        <div class="card__wrap">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-eye"></i>30
                                                بازدید
                                            </span>

                                            <ul class="card__list">
                                                <li>سینما</li>
                                                <li>تلوزیون</li>
                                            </ul>
                                        </div>

                                        <div class="card__description">
                                            <p>
                                                رونمایی محمدرضا گلزار از گرانقیمت ترین اتومبیل شخصی اش در
                                                ایران/اظهارنظر آقای سوپراستار درباره مهناز افشار، کری خوانی
                                                هایش با
                                                علی کریمی و کامنت جنجال برانگیز پریس هیلتون - اختصاصی تی وی
                                                پلاس
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/9.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">Action</a>
                                    <a href="#">Triler</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/8.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/8.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/9.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                <div class="row">

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/9.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/8.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/8.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/9.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/9.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/8.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/8.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/7.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/10.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="/Client/img/covers/9.jpg" alt="" />
                                <a href="blog.html" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="#">
                                        لحظه تلخ ترکیدن بغض حامد زمانی حین
                                        کتک خوردنش از
                                        پلیس
                                    </a>
                                </h3>
                                <span class="card__category">
                                    <a href="#">نیما اسلامی</a>
                                    <a href="#">22 /اسفند/99</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>30 بازدید
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section2" style="position: relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="content__title text-center"> Top 10 Plus </h2>
            </div>
        </div>
    </div>
    <div class="swiper-container swiper-container2 ">
        <div class="swiper-wrapper">

            <div class="swiper-slide2 swiper-slide"
                 style=" background-image : url(Client/img/gallery/project-2.jpg)">
                <div class="container">

                    <div class="row">
                        <h1 class="swipertitle">
                            هدیه گرانقیمت جشن عروسی پوریا پورسرخ توسط یک برند لوکس
                        </h1>

                    </div>


                </div>

            </div>
            <div class="swiper-slide2 swiper-slide"
                 style="        background-image: url(Client/img/gallery/project-3.jpg)">
                <div class="container">
                    <div class="row">
                        <h1 class="swipertitle">
                            رونمایی محمدرضا گلزار از گرانقیمت ترین اتومبیل شخصی اش در ایران
                        </h1>

                    </div>


                </div>

            </div>
            <div class="swiper-slide2 swiper-slide"
                 style=" background-image : url(Client/img/gallery/project-4.jpg)">
                <div class="container">
                    <div class="row">
                        <h1 class="swipertitle">
                            ترلان پروانه: یک خبرگزاری نامعتبر آن عکس را منتشر کرد
                        </h1>

                    </div>


                </div>

            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>


</section>

<section class="content-section content-style">


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 align-self-center res-section1 text-right">
                <div class="text-right">
                    <img class="logo-title-img" src="/Client/img/logo2.png" />
                    <p class="res-title2">کانون تبلیغاتی</p>
                    <p class="res-txt2">
                        شما می توانید با هر دستگاهی اعم از : تبلت ، گوشی ، و دسکتاپ فیلم و ویدئو های پایان
                        ناپذیر تی
                        وی
                        پلاس را مشاهده کنید و لحظات خود را با ما تبدیل به خاطره کنید
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 res-section2">
                <img src="/Client/img/res.png" class="our-story-card-img" />
                <div class="our-story-card-animation">
                    <video class="our-story-card-video" autoPlay="" playsInline="" muted="" loop="">
                        <source src="https://www.spad.co/df.m4v" type="video/mp4" />
                    </video>
                    <div class="our-story-card-animation-text"></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section section--bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title"> آخرین خبر</h2>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/9.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/7.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/10.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/7.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/8.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="/Client/img/covers/10.jpg" alt="" />
                        <a href="blog.html" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">
                                لحظه تلخ ترکیدن بغض حامد زمانی حین کتک
                                خوردنش از
                                پلیس
                            </a>
                        </h3>
                        <span class="card__category">
                            <a href="#">نیما اسلامی</a>
                            <a href="#">22 /اسفند/99</a>
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-eye"></i>30 بازدید</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="#" class="section__btn"> بیشتر</a>
            </div>
        </div>
    </div>
</section>