@model TvPlus.Core.Models.AboutUs
@{
    ViewData["Title"] = "درباره ما";
}
<input type="hidden" id="nav_active" value="about_us">
    <div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <i class="mr-2"></i>
                <small class="">ویرایش @ViewData["Title"]</small>
            </h3>
        </div>
        <div class="card-toolbar">
            <a onclick="saveChanges()" class="btn btn-primary font-weight-bolder">
                ذخیره تغییرات
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="form-group">
                <p>sdadadsad</p>
                <p><strong>sdadadsad</strong></p>
                <label>عنوان:</label>
                <input asp-for="Title" class="form-control" placeholder="عنوان درباره ما را وارد کنید" />
            </div>
            <div class="form-group">
                <label>توضیح:</label>
                <textarea class="form-control ckEditor" asp-for="Description"></textarea>
            </div>
            <div class="form-group">
                <label>بخش ها:</label>
                <div id="sectionsTable">
                </div>
            </div>
        </div>
    </div>
    </div>
@section Scripts
{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/config.js"></script>
    <script>
        function GetSectionTable() {
            $.ajax({
                type: 'Get',
                url: "/Management/AboutUs/SectionsTable",
                success: function(res) {
                    $("#sectionsTable").html(res);
                },
                error: function(data) {
                    toastr.error("ارسال جزییات با خطا مواجه شد", "خطا");
                }
            });
        }

        function saveChanges() {
            var model =
            {
                Title: $("#Title").val(),
                Description: window.editor.getData()
            }

            $.ajax({
                type: 'POST',
                url: "/Management/AboutUs/Save",
                data: model,
                success: function(res) {
                    toastr.success("ذخیره تغییرات با موفقیت انجام شد", "تایید");
                },
                error: function(data) {
                    toastr.error("ذخیره تغییرات با خطا مواجه شد", "خطا");
                }
            });
        }

        function saveSection(id) {
            var model =
            {
                Id: id,
                Title: $(`#section_${id}_title`).val(),
                Description: $(`#section_${id}_description`).val()
            }
            $.ajax({
                type: 'POST',
                url: "/Management/AboutUs/EditSection",
                data: model,
                success: function (res) {
                    GetSectionTable();
                    $('#myModal').modal('hide');
                    toastr.success("ذخیره تغییرات با موفقیت انجام شد", "تایید");
                },
                error: function(data) {
                    toastr.error("ذخیره تغییرات با خطا مواجه شد", "خطا");
                }
            });
        }

        $(function() {
            GetSectionTable();
        });
    </script>
}
