@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="mb-20">
    <h3>تائیدیه</h3>
    <div class="text-muted font-weight-bold">برای بروز رسانی رمز عبور ایمیل خود را چک کنید</div>
</div>
